GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT=caregiver-ai-agent-hackathon
GOOGLE_CLOUD_LOCATION=global
GCP_REGION=europe-west2

ELASTIC_KIBANA_URL=https://caregiver-ai-agent-c8f5c9.kb.europe-west2.gcp.elastic.cloud/
ELASTIC_API_KEY=
ELASTIC_MCP_URL=https://caregiver-ai-agent-c8f5c9.kb.europe-west2.gcp.elastic.cloud/api/agent_builder/mcp
ELASTICSEARCH_URL=https://caregiver-ai-agent-c8f5c9.es.europe-west2.gcp.elastic.cloud:443

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
GEMINI_MODEL=gemini-2.5-flash
